/*@import '../node_modules/bulma/css/bulma.css';*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span {
  display: inline !important;
}

.highlighted {
  background: #ffffba;
  box-shadow: 1px 1px #ffffba;
}
